{:paths
 ["src"]

 :deps
 {org.clojure/clojure               {:mvn/version "1.11.1"}
  org.babashka/http-client          {:mvn/version "0.4.22"}
  fermat-primality/fermat-primality {:local/root "../fermat-primality"}}

 :aliases
 {:run {:main-opts ["--main" "primeworker.core"]}}}
