{:paths
 ["src"]

 :deps
 {org.clojure/clojure               {:mvn/version "1.11.1"}
  clj-http/clj-http                 {:mvn/version "3.12.3"}
  fermat-primality/fermat-primality {:local/root "../fermat-primality"}}

 :aliases
 {:run {:main-opts ["--main" "primeworker.core"]}}}
